@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color:rgba(31, 19, 19, 0.5);
}

/* --------------- HEADER ------------- */


.header-hero-wrapper {
    background-image: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}

.header {
    padding: 20px 0 100px 0;
}

.header__logo-wrapper {
    width: 100%;
    cursor: pointer;
}

.header__logo-wrapper.active {
    
}

.header__logo {
    width: 100%;
    padding-bottom: 8%;
}

.nav {
    width: 60%;
}

.nav__item {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.nav__wrapper {
    width: 100%;
}

.nav__item:hover {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* -- ŠEIT VAIG UZLIKT, KA TAS LOGS IZLEC NEVIS NO LAPAS AUGŠAS, BET NO AUGŠAS TUR, KUR TAJĀ BRĪDĪ ATRODAMIES-- */
.sign-up__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0,-120%);
    transition: transform 1s;
}

.sign-up__background.active {
    background-color: rgba(70, 64, 64, 0.5);
    transform: translate(0,0);
}

.sign-up__window {
    position: absolute;
    padding: 60px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50px;
    width: 40%;
    margin: 0 30%;
}

@media (max-width: 768px) {
    .sign-up__window {
        width: 80%;
        margin: 0 10%;
    }
}

.button--register, .button--cancel{
    margin: 10px 0;
    border-width: 2px;
}

.sign-up__field {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

.hambur {
    width: 32px;
    height: 25px;
    display: none;
    margin-left: 10px;
    cursor: pointer;
    z-index: 100;
}

.hambur__line {
    height: 3px;
    background-color:white;
    width: 100%;
    transition: transform 1s, opacity 1s, width 1s;
}

.hambur__line--middle {
    width: 75%;
}

.hambur__line--bottom {
    width: 50%;
}

.hambur.active .hambur__line:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 5px);
}

.hambur.active .hambur__line:nth-child(2) {
    opacity: 0;
}

.hambur.active .hambur__line:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -5px);
    width: 100%;
}

.header__btn-ham-wrapper {
    width: 100%;
}

@media (max-width: 768px) {
    .header {
        padding: 20px 0 50px 0;
    }

    .hambur {
        display: flex;
    }

    .nav {
        position: absolute;
        top: 5px;
        right: 25%;
        width: 0%;
        background-color: rgba(31, 19, 19, 0.8);
        height: 500px;
        overflow: hidden;
        color: white;
        transform: translate(0,-120%);
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        transition: transform 1s;
    }

    .nav__wrapper.active .nav {
        display: flex;
        width: 50%;
        transform: translate(0,0);
    }

    .nav__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform: translate(0,-120%);
        transition: transform 1s;
    }

    .nav__item {
        font-size: 25px;
        padding: 20px;
        width: 100%;
    }
    
    .nav__item:hover {
        background-color: rgba(31, 19, 19, 0.9);
    }

    .nav__wrapper.active {
        background-color: rgba(70, 64, 64, 0.5);
        transform: translate(0,0);
    }

    .header__logo-wrapper {
        width: 80%;
    }

    .button--sign-up {
        font-size: 14px;
        padding: 8px 10px;
    }


}

/* --------- HERO -------------------- */

.hero {
    padding-bottom: 50px;
}   

.heading--hero {
    width: 50%;
    padding-bottom: 25px;
}

.heading-4--hero {
    width: 50%;
    padding-bottom: 35px;
}

.hero__btns-wrapper {
    width: 100%;
    padding-bottom: 80px;
}

.button--get-started {
    background-color: white;
    color: black;
    margin: 5px;
}

.button--get-started:hover {
    color: black;
}

.button--try {
    margin: 5px;
}

.hero__img-wrapper {
    width: 85%;
}

.hero__img {
    width: 100%;
}

@media (max-width: 768px) {
    .hero__btns-wrapper {
        flex-direction: column;
        width: 80%;
    }
    .heading--hero {
        width: 90%;
        padding-bottom: 15px;
    }

    .heading-4--hero {
        width: 90%;
        padding-bottom: 25px;
    }

    .hero__img-wrapper {
        width: 100%;
    }
    
}

/* ------------  CARDS SECTION -------------- */

.cards-section {
    background-color: white;
    padding-top: 70px;
    padding-bottom: 200px;
}

.heading-2--card-sec {
    width: 70%;
    padding-bottom: 60px;
}

.card {
    margin: 5px;
    padding: 50px 20px 40px 40px;
    height: 100%;
    width: 100%;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}

.card__img-wrapper {
    padding-bottom: 40px;
}

.card--middle {
    background-image: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}

.card__middle-card-title {
    color: white;
}

.card__middle-card-paragraph {
    color: white;
}

.card__link {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: #03D6F3;
}

.card__link--middle {
    color: white;
}

.card__link:hover {
    font-weight: bold;
    color: #03D6F3;
}

.card__link--middle:hover {
    color: white;
}

@media (max-width: 768px) {
    .cards-section {
        padding-bottom: 100px;
    }

    .heading-2--card-sec {
        width: 90%;
    }

    .card {
        align-items: center;
        padding: 30px 20px 20px 20px;
    }

    .card__img-wrapper {
        padding-bottom: 20px;
    }
}

/* --------------- QUICK AND EASY --------------------------- */

.quick-easy {
    background-color: white;
}

.heading-2--quick-easy {
    width: 85%;
    text-align: left;
}

.paragraph--quick-easy {
    width: 85%;
    font-size: 16px;
    font-weight: 700;
}

.quick-easy__button-wrapper-laptop {
    display: block;
    width: 85%;
}

.quick-easy__button-wrapper-mobile {
    display: none;
}

.button--sign-up-free {
    background-color: rgba(3, 214, 243, 1);
    margin-right: 20px;
    border:none;
}

.button--find-out {
    border-color: #30D7BA;
    color:#30D7BA;
}

.button--find-out:hover {
    color:#30D7BA;
}

.quick-easy__img-wrapper {
    width: 100%;
}

.quick-easy__img {
    width: 100%;
}

@media (max-width: 768px) {

    .heading-2--quick-easy {
        width: 90%;
    }

    .paragraph--quick-easy {
        width: 90%;
        text-align: left;
    }

    .quick-easy__button-wrapper-mobile {
        display: block;
    }
    .quick-easy__button-wrapper-laptop {
        display:none;
    }
    .quick-easy__img-wrapper {
        padding-top: 40px;
        width: 120%;
    }

    .button--sign-up-free {
        margin-right: 0;
        margin-bottom: 15px;
    }

}

/* ------------------------ OPERTION ------------------ */

.operation-section {
    background-color: white;
}

.operation__img-wrapper {

}

.operation__img {
    width: 100%;
}

.heading-2--operation {
    text-align: left;
    margin-bottom: 40px;
}

.paragraph--operation {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
}

.operations__button-laptop {
    display: flex;
    max-width: 150px;
    background: #03D6F3;
    border-color: #03D6F3;
    align-self: flex-start;
}

.operations__button-mobile {
    display: none;
    max-width: 150px;
    background: #03D6F3;
    border-color: #03D6F3;
}

@media (max-width: 768px) {
    .operation-section {
        padding-top: 150px;
    }

    .heading-2--operation {
        width: 90%;
    }

    .paragraph--operation {
        width: 90%;
        text-align: left;
    }

    .operations__button-mobile {
        display: flex;
    }
    .operations__button-laptop {
        display: none;
    }
}


/* -------------- BUSINESS ---------------------------- */

.business-section {
    background-color: white;
    padding: 100px 0;
}

.heading-2--business {
    width: 85%;
    text-align: left;
    padding-bottom: 30px;
}

.paragraph--business {
    width: 70%;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 30px;
}

.business__img-wrapper {
    width: 100%;
    position: relative;
    padding-top: 73%;
    line-height: 0;
    margin-bottom: 30px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #33383b;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.business__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.business__button-wrapper-laptop {
    width: 100%;
    display: block;
}

.business__button-wrapper-mobile {
    display: none;
}

@media (max-width: 768px) {
    .heading-2--business { 
        text-align: center;
        padding-bottom: 5px;
    }

    .paragraph--business {
        width: 100%;
        font-weight: 400;
    }

    .business__button-wrapper-mobile {
        display: block;
    }
    .business__button-wrapper-laptop {
        display:none;
    }
}

.pricing-section {
    background-color: white;
    padding: 50px 0;
}

.heading-2--pricing {
    padding-bottom: 20px;
}

.paragraph--pricing {
    text-align: center;
    padding-bottom: 20px;
}

.tile {
    margin: 5px;
    margin-bottom: 15px;
    background-color: white;
    padding: 50px 20px 40px 40px;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(222, 222, 222, 1);
    border-radius: 10px;
    justify-content: space-between;
}

.heading-3--tile {
    text-align: center;
}

.heading-4--tile {
    font-size: 12px;
    color: rgba(92, 92, 92, 1);
}

.tile__img-wrapper {
    width: 100%;
    padding: 30px 0;
}

.tile__img {
    width: 100%;
}

.tile__list-btn-wrapper {
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: stretch;
}

.tile__list {
    text-align: center;
    padding-bottom: 20px;
}

.tile__list-item {
    padding: 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: black;
}

.tile__list-item--light {
    color: rgba(92, 92, 92, 1);

}

.button--tile {
    background: #03D6F3;
    border: none;
}

.subscribe {
    background-color: white;
    padding: 40px 0 80px 0;
}

.paragraph--subscribe {
    text-align: center;
    padding-bottom: 40px;
}

.subscribe__input {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: #5C5C5C;
    padding: 8px 12px;
    width: 300px;
    border: 1px solid #D0D0D0;
    border-radius: 6px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.button--subscribe {
    background-color: #03D6F3;
    border: none;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .subscribe__form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .button--subscribe {
        border-radius: 6px;
    }
    .subscribe__input {
        width: 100%;
        text-align: center;
    }
}


.footer {
    background-color: #112D57;
    padding: 80px 0 40px 0;
}

.footer__item-wrapper {
    padding-bottom: 50px;
}

.footer__items-left {

}

.footer__items-right {

}

.paragraph--footer {
    font-size: 12px;
    color: white;
    text-align: left;
    padding-left: 60px;
    padding-bottom: 50px;
}

.footer__price-item {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding: 10px 0;
}

.footer__img-wrapper {
    width: 100%;
    padding: 0 20px 50px 0; 
}

.footer__img {
    width: 100%;
}

.footer__left-wrapper {
    padding-left: 50px;
}


.footer__contact {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 25px;
}

.footer__icon {
    color: white;
    padding-right: 30px;
}

@media (max-width: 768px) {
    .footer__img-wrapper {
        padding: 0 0 50px 0;
    }
    .footer__img {
        width: 80%;
    }
}   